<div class="">
    <div class="col">
        <input class="form-control me-2 mx-auto" type="search" placeholder="Search e-mail" aria-label="Search"
            #txtSearch (keyup)="onSearchUser(txtSearch.value)">
    </div>
    <div class="">
        <div class="card-header">
            <h3>USERS</h3>
        </div>
        <div class="card-body text-center">
            <table class="table table-header hover table-dark table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th (click)="sort('name')">Name &nbsp;<i class="fas fa-sort"></i></th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Joined Date</th>
                        <th (click)="sort('name')">Consumed Minutes &nbsp;<i class="fas fa-sort"></i></th>
                        <th>Last Visit</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- LLENAMOS LA TABLA CON UN FOR CON LOS USERS
                       de la CLASS UserListComponent usamos el atributo users para hacer el for
                        -->
                    <tr *ngFor=" let user of users |orderBy: key:reverse|filter:search | paginate: {
                    itemsPerPage:20,
                    currentPage:pageurl}" class="text-center">
                        <td> {{user.user_name}} </td>
                        <td> {{user.user_surname}} </td>
                        <td> {{user.user_email}} </td>
                        <td> {{user.user_joined_date}} </td>
                        <td> {{user.num_video_consumed_minutes}} </td>
                        <td> {{user.last_date_visit}} </td>
                        <td> <button (click)="openDialog()" class="btn btn-primary">+</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="paginator">
                <pagination-controls (pageChange)=" pageurl=$event"></pagination-controls>
            </div>
        </div>
    </div>
</div>