
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>USERS</h3>
            </div>
                    <div class="card-body">
                <table class="table table-header hover table-dark table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>id</th> 
                            <th>userName</th>
                            <th>userSurname</th>
                            <th>userEmail</th>
                            <th>userJoinedDate</th>
                            <th>numVideoConsumedMinutes</th>
                            <th>lastDateVisit</th>
                            
                          
                            
                        </tr>
                    </thead>
                    <tbody>
                         <!-- LLENAMOS LA TABLA CON UN FOR CON LOS USERS
                   de la CLASS UserListComponent usamos el atributo users para hacer el for
                    -->
                        <tr *ngFor=" let user of users" class="text-center">
                                <td> {{user.id}} </td>
                                <td> {{user.userName}} </td>
                                <td> {{user.userSurname}} </td>
                                <td> {{user.userEmail}} </td>
                                <td> {{user.userJoinedDate}} </td>
                                <td> {{user.numVideoConsumedMinutes}} </td>
                                <td> {{user.lastDateVisit}} </td>
                                

                        </tr>
      
                     
                     
                    </tbody>
                </table>
            </div>
            </div>
        </div>