/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/img/accenture-bg.webp");
}
html, body { height: 100%; }
body { margin: auto;  font-family: Roboto, "Helvetica Neue", sans-serif; }

#logo{
    position:relative;
    margin: 30px auto;
}
#search{
    margin:50px auto;
}
i{
    color:white;
}
#upload{
    width: 100px;
    height: 35px;
    border-radius: 10px;
}
.text{
    text-align: center;
    color: white;
}
.div_file{
    position: relative;
    margin: 30px;
    padding: 5px;
    width: 200px;
    height: 35px;
    background-color: rgba(33, 176, 219, 0.758);  
    border-radius: 10px;
    cursor: hand;
}
#choose-file{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;

}