/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/img/accenture-bg.webp");
}
html, body { height: 100%; }
body { margin: auto;  font-family: Roboto, "Helvetica Neue", sans-serif; }

#logo{
    position:relative;
    margin: 40px auto;
}
#search{
    margin:50px auto;
}