<div>  
    <ul class="nav nav-pills bg-dark p-2" style="--bs-bg-opacity: .8;">
        <li class="nav-item">
            <a class="nav-link btn-info text-light me-3" aria-current="page" href="#" routerLink="/users" routerLinkActive="active-outline bg-dark">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-info text-light me-3" href="#" routerLink="/pathLearning" routerLinkActive="active">Path Learning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-info text-light me-3" href="#" routerLink="/topTen" routerLinkActive="active">Top 10</a>
        </li>
    </ul>
</div>
