<div>  
    <ul class="nav nav-pills bg-dark p-2" style="--bs-bg-opacity: .8;">
        <li class="nav-item">
            <a class="nav-link text-light me-3"  href="#" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light me-3" href="#" routerLink="/pathLearning" routerLinkActive="active">Learning Path</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light me-3" href="#" routerLink="/topTen" routerLinkActive="active">Top 10</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light me-3" href="#" routerLink="/courses" routerLinkActive="active">Courses Activity</a>
        </li>
    </ul>
</div>
